# Entornos virtuales (el nombre más común es venv o env)
venv/
env/
ENV/
.env/
virtualenv/

# Extensiones de archivos de entorno
.venv/
bin/
lib/
share/
Include/

.venv/
__pycache__/
*.pyc
logs/*.log
*.csv
*.ipynb_checkpoints/